---

---

<style>
  .input {
    background-color: #17181c;
    /*     padding: 0.5rem 1rem;
    border-radius: 0.5rem; */
  }
</style>
<form action="" class="flex flex-col gap-5">
  <span
    class="input h-15 flex row w-full items-center gap-4 px-4 py-2 rounded-lg"
  >
    <i class="ti ti-mail text-gray-300 text-xl"></i>
    <input
      placeholder="Email"
      type="text"
      class="w-full h-full bg-transparent text-lg cursor-not-allowed"
      disabled
    />
  </span>

  <span
    class="input h-15 flex row w-full items-center gap-4 px-4 py-2 rounded-lg"
  >
    <i class="ti ti-password text-gray-300 text-xl"></i>
    <input
      placeholder="Contraseña"
      type="password"
      class="w-full h-full bg-transparent text-lg cursor-not-allowed"
      disabled
    />
  </span>
</form>
