---
import { SignIn } from "auth-astro/components";
//icons
import Google from "../../assets/GoogleBrand.astro";
---

<SignIn
  class="min-h-10 max-h-10 w-full border rounded-full bg-white px-3 py-2 flex flex-row items-center justify-center"
  provider="google"
>
  <!-- <span class="w-full">
    <Google />
  </span> -->
  <span class="font-bold">Inciar sesion con Google</span>
</SignIn>
