---
import { SignIn } from "auth-astro/components";
//icons
import Google from "../../assets/GoogleBrand.astro";
---

<SignIn
  class="h-14 w-full border rounded-full bg-white py-3 flex flex-row items-center justify-center gap-2 hover:bg-gray-200 duration-75 transition-colors ease-in-out"
  provider="google"
>
  <img src="/src/assets/GLogo.png" alt="Google Logo" class="flex max-w-6" />
  <span class="text-lg">Iniciar sesión con Google</span>
</SignIn>
