---
import Layout from "src/layouts/Layout.astro";
import Footer from "src/components/settings/Footer.astro";
import Modal from "src/components/settings/Modal.astro";
const tasks = [
  { id: 1, title: "Task 1", completed: false },
  { id: 2, title: "Task 2", completed: true },
  { id: 3, title: "Task 3", completed: false },
  { id: 4, title: "Task 4", completed: true },
  /*{ id: 5, title: "Task 5", completed: false },
  { id: 6, title: "Task 6", completed: true },
  { id: 7, title: "Task 7", completed: false },
  { id: 8, title: "Task 8", completed: true },*/
];
---

<Layout>
  <main
    style="max-width: 640px;background-color:#17181C;"
    class="flex flex-col min-h-screen py-6 px-8 mx-auto border shadow-lg"
  >
    <div class="flex flex-col gap-4 my-auto max-h-screen">
      {
        tasks.map((task) => (
          <div
            style="background-color:#25262B;"
            class="max-h-fit flex flex-row justify-between gap-4 rounded-3xl p-6 hover:shadow-xl transition-shadow duration-500 ease-in-out"
          >
            <button class="w-fit">
              <i class="ti ti-circle text-2xl text-white hover:text-green-400 transition-colors ease-in-out duration-100" />
            </button>
            <div class="w-full">
              <h1 class="text-gray-300 text-lg">{task.title}</h1>
            </div>
          </div>
        ))
      }
    </div>
    <Footer />
    <Modal />
  </main>
</Layout>
