---
import Layout from "src/layouts/Layout.astro";
import IndexFooter from "src/components/settings/IndexFooter.astro";
import SettingsModal from "src/components/settings/SettingsModal.astro";
import HabitCard from "src/components/habits/HabitCard.astro";
import { getSession } from "auth-astro/server";
// getting cookies and session
const cookies: any = Astro.request.headers.get("cookie");
const session = await getSession(Astro.request);
// fetching tasks
let tasks: any = await fetch(
  `http://localhost:4321/api/get?user_mail=${session?.user?.email}&mode=find&start_date=1900-01-21&end_date=2025-01-27`,
  {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
      Cookie: cookies,
    },
  }
)
  .then((response) => response.json())
  .then((data) => {
    return data.result;
  })
  .catch((error) => console.error("Error:", error));
---

<Layout>
  <main
    style="max-width: 640px;background-color:#17181C;"
    class="flex flex-col min-h-screen py-6 px-8 mx-auto border shadow-lg"
  >
    <div class="flex flex-col gap-4 my-auto max-h-screen">
      {
        tasks.map((task: any) => (
          <HabitCard
            title={task.habit_title}
            habit_description={task.habit_description}
            key={task._id}
          />
        ))
      }
    </div>
    <IndexFooter />
    <SettingsModal />
  </main>
</Layout>
